@media (max-width: 768px) {
    .content-container {
        flex-direction: column-reverse; /* just cause I prefer the picture being on top. We can just use "column" instead */
    }
    .nav-list {
        flex-direction: column;
      }
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-coral: #D1884F;
    --color-light-blue: #3BBADB;
    --color-deep-sky-blue: #008AAA;
    --color-pale-cerulean: #81D4E8;
    --color-dark-cyan: #007799;
    --color-deep-sky-blue-shadow: rgba(0, 138, 170, 0.2);
    --color-deep-sky-blue-light-shadow: rgba(59, 186, 219, 0.1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}  

a {
    text-decoration: none;
}

.wrapper {
    margin: 50px 50px;
}

.nav-list {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.nav-link {
    margin: 0.2cm 0.7cm;
    font-size: 15px;
}

.nav-element {
    color: var(--color-black);
}

/* wasn't sure if you wanted the "Home" links's color to stay like that or change on hover and/or focus so I went with change on hover and focus */
.nav-element:hover, .nav-element:focus,
.nav-element:hover .nav-icon, .nav-element:focus .nav-icon {
    color: var(--color-coral);
}

.nav-icon {
    margin-right: 10px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    height: 100%;
    margin: 30px;
    max-width: 500px;
}

.introduction-element {
    margin-top: 30px;
}

.subheading {
    color: var(--color-light-blue);
    font-size: 1.25rem;
}

.main-title {
    color: var(--color-deep-sky-blue);
    font-size: 2.5rem;
}

.highlightd-word {
    color: var(--color-coral);
}

.see-more {
    color: var(--color-light-blue);
}

.pic-container {
    margin: 30px;
}

.my-pic {
    border-bottom-left-radius: 50%;
    box-shadow: -28px 10px 0px -10px var(--color-pale-cerulean);;
    width: 300px;
}

.buttons-section {
    display: flex;
}

.btn {
    height: 30px;
    font-size: 1.25rem;
    border-radius: 4px;
}

.hire-btn {
    width: 120px;
    color: var(--color-white);
    background-color: var(--color-deep-sky-blue);
    border: 2px solid var(--color-deep-sky-blue);
    box-shadow: 0px 5px 0px 0px var(--color-deep-sky-blue-shadow);
}

.hire-btn:hover {
    background-color: var(--color-dark-cyan);
    border: 2px solid var(--color-dark-cyan);
}

.project-btn {
    width: 180px;
    color: var(--color-deep-sky-blue);
    border: 2px solid var(--color-deep-sky-blue);
    background-color: var(--project-btn-bg-color);
    margin-left: 15px;
    box-shadow: 0px 3px 0px 0px var(--color-deep-sky-blue-light-shadow);
}

.project-btn:hover {
    color: var(--color-white);
    background-color: var(--color-deep-sky-blue);
}